<div fxLayout="column" fxLayoutAlign="center " fxLayoutGap="25px">

  <app-current-condition
    *ngIf="this.forecast != null"
    [currentCondition]="this.forecast.currentCondition">
  </app-current-condition>

  <div *ngIf="this.forecast != null"
       fxLayout="row"
       fxLayoutAlign="center"
       fxLayoutGap="25px"
  >
    <app-day-forecast
      *ngFor="let dayForecastItem of this.forecast.daysForecast; let i = index"
      [dayForecast]="dayForecastItem"
      [index]="i"
      [isSelected]="dayForecastItem == dayForecastSelected"
      (mouseover)="changeDayForecastSelected(dayForecastItem)"
    >
    </app-day-forecast>
  </div>

  <app-day-forecast-details
    *ngIf="this.forecast != null"
    [dayForecast]="dayForecastSelected"
  >
  </app-day-forecast-details>

</div>
