<input
  type="text"
  class="form-control"
  placeholder="Entrez la ville..."
  [(ngModel)]="ville"
  (blur)="setVille()"
  #villeInput
/>
<button type="button" class="btn btn-primary" (click)="goToMeteo()">
  Météo
</button>
<button type="button" class="btn btn-primary" (click)="showHottestDay()">
  Chaleur
</button>
<button type="button" class="btn btn-primary" (click)="showRainyDays()">
  Pluie
</button>
<button type="button" class="btn btn-primary" (click)="goToHumidity()">
  Humidité
</button>
