/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

app-forecast-item {
  .forecastItemContainer {
    display: flex;
    height: 100px;
    width: 400px;
    margin: 5px auto;
    border: 3px solid transparent;
    border-radius: 12px;
    padding: 5px;
  }
  .forecastItemLeftHalf {
    width: 200px;
  }
  .forecastItemRightHalf {
    width: 200px;

    p {
      margin: 0;
    }
  }
  .hot {
    border-color: red;
  }
  .rainy {
    border-color: lightblue;
  }
}

app-search-bar {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: fit-content;
  padding: 0 100px;
  margin: 35px auto;
  * {
    display: inline;
    margin: 1px;
  }

  input {
    margin: 0 10px;
    max-width: 350px;
    min-width: 110px;
  }
}

app-humidity-info {
  display: block;
  width: 600px;
  margin: auto;
}
