/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

app-forecast-item {
  .forecastItemContainer {
    height: 100px;
  }
  .forecastItemLeftHalf {
    height: 100px;
    float: left;
  }
  .forecastItemRightHalf {
    height: 100px;
  }
}
